name: idir - 300117444

on: [push]

jobs:
  mon-script:
    name: Mon script CI-CD 
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - shell: bash
        run: |
          git pull
          cd 6.CI-CD
          bash 300117444/monscript.sh
          
      - name: Commit files
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m :smiling_imp:
          git push
