name: Hassana-300117806

on: [push]

jobs:
  mon-script:
    name: Le script CI-CD d'Hassana
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - shell: bash
        run: |
          git pull
          cd 6.CI-CD
          bash 300117806/monscript.sh

      - name: Commit files
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Participation d'Hassana"
          git push
