name: 300118524 zoureni

on: [push]

jobs:
  mon-script-qui-donne-le-processus-de-la-machine:
    name: Le script CI-CD de zoureni
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - shell: bash
        run: |
          git pull
          cd 6.CI-CD
          bash 300118524/process.sh

      - name: Commit files
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "zoureni"
          git push
