name: MON-NOM-MON-ID-CHANGEZ-MOI-VITE

on: [push]

jobs:
  mon-super-script-que-je-suis-suppose-changer:
    name: Le script CI-CD de mon humble personne
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - shell: bash
        run: |
          git pull
          cd 6.CI-CD
          bash 300118524/entrypoint.sh

      - name: Commit files
        run: |
          git config zoureni github-actions
          git config zoureni@outlook.fr github-actions@github.com
          git add .
          git commit -m "zoureni"
          git push
